{% extends "base.html" %}

{% block content %}
{{ section.content | safe }}

{% if config.extra.recent_pages %}
{% set recent_pages = config.extra.recent_pages | filter(attribute="lang", value=lang) | first %}
{% set limit = recent_pages.limit | default(value=5) %}
{% set section = get_section(path=recent_pages.section) %}
<ul>
    {% for page in section.pages | sort(attribute='date') | reverse | slice(end=limit) %}
    <li>
        <a href="{{ page.permalink | safe }}">{% if page.date %}{{ page.date }} - {% endif %}{{ page.title }}</a>
        <br />
        {{ page.description }}
    </li>
    {% endfor %}
    <li>
        <a href="{{ section.permalink }}">...{{ section.title }}</a>
    </li>
</ul>

{% endif %}
{% endblock content %}