{% extends "base.html" %}

{% block content %}
{{ section.content | safe }}

{% if config.extra.recent_pages %}
{% set pages_dir = config.extra.recent_pages.path | default(value='posts') %}
{% set section = get_section(path=pages_dir ~ '/_index.md') %}
{% set limit = config.extra.recent_pages.limit | default(value=5) %}

<ul>
    {% for page in section.pages | sort(attribute='date') | reverse | slice(end=limit) %}
    <li>
        <a href="{{ page.permalink | safe }}">{% if page.date %}{{ page.date }} - {% endif %}{{ page.title }}</a>
        <br />
        {{ page.description }}
    </li>
    {% endfor %}
    <li>
        <a href="{{ get_url(path=pages_dir) }}">...{{ section.title }}</a>
    </li>
</ul>

{% endif %}
{% endblock content %}